*{
    margin: 0px;
    padding: 0px;
}

body {
    max-width: 500px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

h1 {
    font-family: Roboto;
    font-weight: 100;
    font-size: 40pt;
    color: #999;
}

header {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

video {
    width: 500px;;
    margin: 50px;
    margin-top: 0px;
}

.video-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box {
    margin: 50px;
    margin-top: 0px;
}

p {
    font-family: Roboto;
    font-weight: 100;
    font-size: 16pt
}
